<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <h2>Login Page</h2>
    <br>
    <p>You may login to get an advise on your location.</p>
    <br>
    <form action="/login" method="post" th:object="${credential}" th:action="@{/submitLogin}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required placeholder="Firstname Lastname" th:field="*{username}">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required th:field="*{password}">
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
